.button {
    text-align: center;
    font-size: 16px;  
    cursor: pointer;
    border-radius: 20px;
    width: 15%;
  }

  .box {
    padding: 15px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
  
    background-color: rgb(202, 199, 199);
  }

#nome, #taxa {
  
    margin-left: 50px;
}

.flex-box {
  display: flex;
  flex-direction: row;

  
}

.restaurante {
  width: 80%
}
